<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<!-- Configure a WCF endpoint -->
	<system.serviceModel>
		<client>
			<!-- Now using wsDualHttpBinding instead of basicHttpBinding which doesn't 
        work with a DuplexChannel to enable callbacks -->
			<endpoint
					  name="BusEndPoint"
					  address="http://localhost:13200/RideTheBusLibrary/BusService"
					  binding="wsDualHttpBinding"
					  contract="RideTheBusLibrary.IRideTheBus" />
		</client>
	</system.serviceModel>
</configuration>